section[class='HeroSection']
  .HeroContainer
    h1 Sample Omise
    p
      'Example application for integrate
      = link_to('Omise Payment Gateway', 'https://omise.co', target: '_blank')
    p
      'Created By Tawin Supayanant, it's not an omise official website.
    div.ButtonPanel
      = link_to('Go to Dashboard', dashboard_index_path, class: 'PrimaryButton')
      = link_to('Contact me', '#contact_me_map', class: 'PrimaryButton')
section[class='ContactMeSection']
  .ContactMeContainer
    h1 Contact Me
    hr
    .ContactMeMap[id='contact_me_map']