= form_for(@customer) do |f|
  - if @customer.errors.any?
    #error_explanation
      h2
        = pluralize(@customer.errors.count, "error")
        |  prohibited this transaction from being saved:
      ul
        - @customer.errors.full_messages.each do |message|
          li
            = message
  .form-group
    = f.label :first_name
    = f.text_field :first_name, class: 'form-control'
  .form-group
    = f.label :last_name
    = f.text_field :last_name, class: 'form-control'
  .form-group
    = f.label :email
    = f.email_field :email, class: 'form-control'
  .form-group
    = f.submit 'Create New Customer', class: 'btn btn-primary'

