p#notice
  = notice
table.table
  thead
    tr
      th
        | First Name
      th
        | Last Name
      th
        | Email
      th[colspan='4']
  tbody
    - @customers.each do |customer|
      tr
        td
          == customer.first_name
        td
          == customer.last_name
        td
          == customer.email
        td
          == link_to "List transactions (#{customer.transactions.size})", customer_transactions_path(customer)
        td
          == link_to 'Show', customer
        td
          == link_to 'Edit', edit_customer_path(customer)
        td
          == link_to 'Destroy', customer, method: :delete, data: {confirm: 'Are you sure?'}
br
== link_to 'New customer', new_customer_path