p#notice
  = notice
p
  strong
    | First Name:
  = @customer.first_name
p
  strong
    | Last Name:
  = @customer.last_name
p
  strong
    | Email:
  = @customer.email
h1
  | List Cards
= react_component('ListCardsComponent', cards: @cards, customer_id: @customer.id)

= link_to 'Edit', edit_customer_path(@customer)
|  | 
= link_to 'Back', customers_path
