.HeroSection {
  text-align: center;
  min-height: 100vh;
  color: #FFFFFF;
  background: -webkit-linear-gradient(180deg, #a73737 10%, #7a2828 90%); /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(180deg, #a73737 10%, #7a2828 90%); /* FF3.6+ */
  background: -ms-linear-gradient(180deg, #a73737 10%, #7a2828 90%); /* IE10 */
  background: -o-linear-gradient(180deg, #a73737 10%, #7a2828 90%); /* Opera 11.10+ */
  background: linear-gradient(180deg, #a73737 10%, #7a2828 90%); /* W3C */
  .HeroContainer {
    @extend .container;
    position: relative;
    top: 30vh;
    h1 {
      text-transform: capitalize;
    }
    .PrimaryButton{
      @include border-radius(20px);
    }
    .ButtonPanel{
      margin: 20px 0;
      a {
        text-decoration: none;
        margin: auto 10px;
      }
    }

  }
}