div[class='col-md-offset-4 col-md-4']
  h2
    | Log in
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-group
      =render 'application/flash_message'
    .form-group
      = f.label :email, class: 'control-label'
      br
      = f.email_field :email, class: 'form-control', autofocus: true
    .form-group
      = f.label :password, class: 'control-label'
      br
      = f.password_field :password, class: 'form-control', autocomplete: "off"
    .form-group
      | You can use this credential to log in. Username: admin@example.com Password: changeme
    - if devise_mapping.rememberable?
      .form-group
        = f.check_box :remember_me
        = f.label :remember_me, class: 'control-label'
    .form-group
      = f.submit "Log in", class: 'btn btn-primary'



