= form_for(@transaction) do |f|
  - if @transaction.errors.any?
    #error_explanation
      h2
        = pluralize(@transaction.errors.count, "error")
        |  prohibited this transaction from being saved:
      ul
        - @transaction.errors.full_messages.each do |message|
          li
            = message
  .form-group
    = f.label :amonut
    = f.number_field :amonut, class: 'form-control'
  .form-group
    = f.label :customer_id
    = f.select :customer_id, options_for_select(@customers.all.map {|customer| ["#{customer.first_name} #{customer.last_name} ", customer.id]}), {}, {class: 'form-control'}
  .form-group
    = f.submit 'Create New Transactions', class: 'btn btn-primary'
