p#notice.text-info
  = notice
table.table
  thead
    tr
      th
        | Customer
      th
        | Amount
      th[colspan="3"]
  tbody
    - @transactions.each do |transaction|
      tr
        td
          = "#{transaction.customer.first_name} #{transaction.customer.last_name}"
        td
          = transaction.amonut
        td
          = link_to 'Show', transaction
br
= link_to 'New Transaction', new_transaction_path
