p#notice
  = notice
p
  strong
    | Amonut:
  = @transaction.amonut
p
  strong
    | Customer:
  = "#{@transaction.customer.first_name} #{@transaction.customer.last_name}"
= link_to 'Back', transactions_path
