nav.navbar.navbar-default
  .container
    .navbar-header
      button.navbar-toggle.collapsed[type="button" data-toggle="collapse" data-target="#collapse_menu" aria-expanded="false"]
        span.sr-only
          | Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      == link_to 'Sample Omise', dashboard_index_path, class: 'navbar-brand'
    #collapse_menu.collapse.navbar-collapse
      ul.nav.navbar-nav
        li class=('active' if is_customer_tab?)
          == link_to 'Customer', customers_path
        li class=('active' if is_transaction_tab?)
          == link_to 'Transaction', transactions_path
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle[href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"]
            == current_user.email
            span.caret
          ul.dropdown-menu
            li
            ==link_to('Logout', destroy_user_session_path, :method => :delete)
